*{

    padding: 0;
    margin: 0;
}

h1{
    margin-top: 23px;

    color: crimson;


}

p{

    color: brown;


}

body{

    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}